/.bash_history
/.bash_logout
/.bashrc
/.cache
/.conda
/.condarc
/.config
/.dotnet
/.gitconfig
/.ipython
/.local
/.motd_shown
/.profile
/.pytensor
/.sudo_as_admin_successful
/.vscode-server
/.wget-hsts
/3.10
/3.11
/=1.9
/=3.10
/=3.11
/=5.0
/=5.3
/=5.3.1
/FirstOnWSL.py
/anaconda3